.ADIV{
    background-color: #e9e9e9;
    padding-bottom: 20px;
}
.ATXT{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
.GDIV{
    display: grid;
    justify-content: center;
}
@media(min-width:768px){
    .GDIV{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1024px){
    .GDIV{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
