.CADIV{
    height: 500px;
    margin: 0px 30px 30px 30px;
    background-color: #f5f5ff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.AGTIMG{
    width: 100%;
    height: 350px;
}
.AGTNAME{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500
}
.ICNBX{
    margin-left: 20px;
    
}
.IGICN,.XICN{
    margin-left: 15px;
}
@media(min-width:768px){
    .CADIV{
        margin-left:0px 0px 0px 10px;
    }
}