.FTDIV{
    padding-bottom: 10px;
    background-color: black;
}
.FTLOGO{
    width: 150px;
    margin-top: 10px;
}
.IMGD{
    text-align: center;
}
.SUBTXT{
    color: white;
    text-align: center;
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.SUBD{
    text-align: center;
}
.NLI{
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}
.SUBBTN{
    height: 55px;
    width: 100px;
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ff9900;
}
.FHOME{
    margin-top: 30px;
}
.FHOME,.FBUY,.FRENT,.FAGENTS,.FGUIDE,.FSOC,.LNK{
    color: white;
}
.FooterLinks{
    display: flex;
    flex-direction: column;
}
.contacts{
    color: white;
    font-size: 20px;
    text-align: center;
}
.EXTNUM{
    display: block;
    margin-left: 100px;
}
.COPYTXT{
    color: white;
    font-size: 20px;
    text-align: center;
}
.LNK{
    display: none;
}
@media(min-width:1024px){
    .FLEX{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .LNK{
        display: block;
        text-align: center;
        font-size: 20px;
        margin:initial;
        font-weight: 700;
    }
    .FHOME{
        margin-top: 0px;
    }
    .FHOME,.FBUY,.FRENT,.FAGENTS,.FGUIDE,.FSOC{
    
    }
    .FooterLinks{
        display: grid;
        grid-template-columns: 100px 400px 1fr 1fr;
        margin-top: 30px;
    }
}