.CB{
    background-color: #f5f5f5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    height: 450px;
    margin:0px 30px 30px 30px;
}
.CB:active{
    background-color: #FF9900;
}
.S1{
    margin-left: -25px;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}
.S1TXT{
    display: inline;
    margin-left: 20px;
    font-size: 25px;
}
.S1EX{
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}
.S1S{
    font-size: 20px;
    margin-top: 100px;
    text-decoration: underline;
    margin-left: 10px;
}
@media(min-width:768px){
    .CB{
        margin: 30px;
    }
}
@media (min-width:1024px){
    .CB{
        margin: 10px;
    }
}