.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    max-height: 90vh; 
    overflow-y: auto; 
}

.modalClose {
    position: absolute;
    top: 0px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.modalIMG {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modalDescription {
    font-size: 24px;
    margin-top: 0;
    color: #333;
}

.modalPrice {
    color: #FF9900;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modalType, .modalExtraDetails {
    margin: 10px 0;
    color: #555;
}
@media(min-width:768px){
    .modalDescription{
        font-size: 30px;
    }
    .modalType, .modalBeds, .modalBaths, .modalExtraDetails{
        font-size: 20px;
        font-weight: 600;
    }
}