.filterBar{
    display: flex;
    justify-content: right;
    background-color: #e9e9e9; 
    margin-right: 50px;
    margin-top: 10px;
}
.filterSelect{
    width: 165px;
    height: 30px;
    font-size: 17px;
}
option{
    font-size: 12px;
}
@media (min-width:768px){
    .filterBar{
        margin-right: 50px;
    }
    .filterSelect{
        width: 190px;
        height: 40px;
        font-size: 20px;
    }
    option{
        font-size: 10px;
    }
}
@media (min-width:1024px){
    option{
        font-size: 20px;
    }
}