.GCON{
    background-color: #F5F5F5;
    margin: 15px 10px 0px 10px;
    height: 580px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow: visible;
}
.FIMG{
    height: 350px;
    width: 90%;
    padding:20px
}
.PADD{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}
.PP{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: gold;
}
.BRICN{
    margin-left: 80px;
}
.NUMBR{
    margin: 0px;
}
.HPROP{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.BRICNNUMBR{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
.BDICN{
    margin-top: 2px;
}
.NUMBD{
    margin-top: 0px;
}
.BDICNNUMBD{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.VPBTND{
    display: flex;
    justify-content: center;
}
.VPBTN{
    width: 130px;
    height: 50px;
    font-size: 18px;
    justify-content: center;
    background-color: #FF9900;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
}
.VPBTN:active{
    border:2px solid #FF9900;
    background-color: #F5F5F5;
    color: #FF9900;
    transform: translatey(-5px);
}
@media(min-width: 768px){
    .GCON{
        width: 90%;
        margin: initial;
        margin:10px 0px 10px 20px ;
    }
    .BDICN{
        margin-top: 5px;
    }
    .BRICN{
        margin:initial;
        margin-left: 40px;
    }
    .BRICN.Sale{
        margin-left: 10px;
    }
}
@media(min-width:1024px){
    .GCON{
        margin-top: 20px;
        margin-left: 10px;
    }
    .GCON:hover{
        transform: translateY(-8px);
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.5);
    }
    .FIMG{
        width: 100%;
        padding: 0px;
        padding-bottom: 15px;
    }
    .PADD{
        font-size: 20px;
    }
    .PP{
        margin: 0px;
        margin-top: 22px;
        margin-left: 5px;
    }
    .BRICN{
        margin-top: 4px;
        margin-left: 0px;
    }
    .BDICN{
        margin-top: 8px;
    }
    .VPBTN{
        text-align: center;
    }
    .NUMBD{
        margin-top: 3px;
    }
    .NUMBR{
        margin-top: 3px;
    }
}

